In [23]:
import numpy as np
import pandas as pd

In [24]:
url = 'https://raw.githubusercontent.com/JuliaData/CSV.jl/refs/heads/main/test/testfiles/Sacramentorealestatetransactions.csv'
df = pd.read_csv(url)

In [25]:
df.head(10)

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
5,5828 PEPPERMILL CT,SACRAMENTO,95841,CA,3,1,1122,Condo,Wed May 21 00:00:00 EDT 2008,89921,38.662595,-121.327813
6,6048 OGDEN NASH WAY,SACRAMENTO,95842,CA,3,2,1104,Residential,Wed May 21 00:00:00 EDT 2008,90895,38.681659,-121.351705
7,2561 19TH AVE,SACRAMENTO,95820,CA,3,1,1177,Residential,Wed May 21 00:00:00 EDT 2008,91002,38.535092,-121.481367
8,11150 TRINITY RIVER DR Unit 114,RANCHO CORDOVA,95670,CA,2,2,941,Condo,Wed May 21 00:00:00 EDT 2008,94905,38.621188,-121.270555
9,7325 10TH ST,RIO LINDA,95673,CA,3,2,1146,Residential,Wed May 21 00:00:00 EDT 2008,98937,38.700909,-121.442979

In [26]:
df.shape

(985, 12)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985 entries, 0 to 984
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   street     985 non-null    object
 1   city       985 non-null    object
 2   zip        985 non-null    int64
 3   state      985 non-null    object
 4   beds       985 non-null    int64
 5   baths      985 non-null    int64
 6   sq__ft     985 non-null    int64
 7   type       985 non-null    object
 8   sale_date  985 non-null    object
 9   price      985 non-null    int64
 10  latitude   985 non-null    float64
 11  longitude  985 non-null    float64
dtypes: float64(2), int64(5), object(5)
memory usage: 92.5+ KB

In [28]:
df.describe()

,zip,beds,baths,sq__ft,price,latitude,longitude
count,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000
mean,95750.697462,2.911675,1.776650,1314.916751,234144.263959,38.607732,-121.355982
std,85.176072,1.307932,0.895371,853.048243,138365.839085,0.145433,0.138278
min,95603.000000,0.000000,0.000000,0.000000,1551.000000,38.241514,-121.551704
25%,95660.000000,2.000000,1.000000,952.000000,145000.000000,38.482717,-121.446127
50%,95762.000000,3.000000,2.000000,1304.000000,213750.000000,38.626582,-121.376220
75%,95828.000000,4.000000,2.000000,1718.000000,300000.000000,38.695589,-121.295778
max,95864.000000,8.000000,5.000000,5822.000000,884790.000000,39.020808,-120.597599

Find the number of the columns in the data frame

In [29]:
num_columns = df.shape[1]
print(f"Number of columns: {num_columns}")

Number of columns: 12

Find the mean of the house prices

In [30]:
mean_price = df['price'].mean()
print(f"Mean of house prices: {mean_price}")

Mean of house prices: 234144.26395939087

Find the median of the house prices

In [31]:
median_price = df['price'].median()
print(f"Median of house prices: {median_price}")

Median of house prices: 213750.0

Find the different types of property in the dataset

In [32]:
property_types = df['type'].unique()
print(f"Different types of property: {property_types}")

Different types of property: ['Residential' 'Condo' 'Multi-Family' 'Unkown']

In [33]:
property_type_counts = df['type'].value_counts()
print(f"Count of different property types:\n{property_type_counts}")

Count of different property types:
type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64

Find the maximum price of a "condo" in the dataset

In [34]:
max_condo_price = df[df['type'] == 'Condo']['price'].max()
print(f"Maximum price of a 'condo': {max_condo_price}")

Maximum price of a 'condo': 360000

Find the mean of each type of property in the dataset

In [35]:
mean_price_by_property_type = df.groupby('type')['price'].mean()
print(f"Mean price by property type:\n{mean_price_by_property_type}")

Mean price by property type:
type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

Find the count of different property types in dataset

In [36]:
property_type_counts = df['type'].value_counts()
print(f"Count of different property types:\n{property_type_counts}")

Count of different property types:
type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64